<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="padding: 1rem;" fxLayoutAlign="space-around center">
        <span class="ms-5">
        <!-- <a class="navbar-brand" href="#">Career Redefine</a> -->
         <img src="../../assets/Career-Redefine-Logo.png" width="50%" height="50%" alt="">
       </span>

        <span class="me-5">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active text-primary manrope" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link manrope" href="#">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link manrope" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link manrope" href="#">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link manrope" href="#">Contact</a>
            </li>
            <li class="nav-item d-flex">
                <a class="nav-link manrope" href="#">Login</a>
                <!-- <mat-icon class="">arrow_right_alt</mat-icon> -->
            </li>
        </ul>

      </span>
        <!-- <div class="collapse navbar-collapse" fxLayoutAlign="space-between center" id="navbarText">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>