<!-- our_story -->
<section fxLayoutAlign="center center" class="py-4">
    <div class="text-center py-2">
        <p class="fs-5 text-primary">Our Story</p>
        <p class="fs-1 fw-bold lh-base">Join Us on the Journey</p>
    </div>
    <div class="container">
        <div class="d-flex align-items-center text-center" fxLayoutAlign="center">
            <div class="col-6">
                <img src="../../assets/our_story_1.png" style="width: 80%; height: 50vh;" alt="">
            </div>
            <div class="col-5 text-start">
                <p class="titleheading">Our story started with a realization</p>
                <p class="titledescription">Career Redefine journey began with a simple idea: to bridge the gap between
                    what traditional education offers and what the modern job market demands. Founded by a team of
                    seasoned professionals with a shared vision, we set out to create a platform where learning, growth,
                    and career advancement come together seamlessly.</p>
            </div>
        </div>

        <div class="d-flex align-items-center text-center" fxLayoutAlign="center center">
            <div class="col-6 text-center" style="margin-left: 5rem;">
                <p class="titleheading text-start">Evolving with the Industry</p>
                <p class="titledescription text-start">Over the years, Career Redefine has grown into a trusted partner for
                    professionals and students alike. As the industry evolved, so did we—expanding our offerings to
                    include cutting-edge courses in emerging technologies, comprehensive career enhancement programs,
                    and specialized executive search services. Our commitment to staying ahead of the curve has enabled
                    us to consistently deliver value and innovation to our clients.</p>
            </div>
            <div class="col-6 text-start">
                <img src="../../assets/our_story_3.png" style="width: 80%; height: 60vh;" alt="">
            </div>
        </div>

        <div class="d-flex align-items-center text-center" fxLayoutAlign="center">
            <div class="col-6">
                <img src="../../assets/our_story_2.png" style="width: 80%; height: 60vh;" alt="">
            </div>
            <div class="col-5 text-start">
                <p class="titleheading">Join Us on the Journey</p>
                <p class="titledescription">
                    We invite you to join us on this journey of career evolution in the digital era. As we continue to
                    pioneer innovative solutions, expand our services, and adapt to new challenges, our vision remains
                    constant: to empower you to evolve, excel, and achieve career success in the 21st century.</p>
            </div>
        </div>

    </div>
</section>

   <!-- our_vision -->
<section>
 
</section>