<!-- app.component.html -->

<!-- <app-header></app-header> -->

<div class="col-12 bg-white">

    <div class="">
        <div class="container home_section">
            <div class="col-md-12">
                <!-- Angular Material Toolbar with hover effect -->
                <div class="container text-center">
                    <div class="">
                        <p class="career_sub_wellcome hover-text">Welcome to Career Redefine</p>
                        <p class="career_sub_title text-muted">Your Partner in Career Transformation</p>

                    </div>
                    <div class="career_sub_heading">
                        <p class="">At Career Redefine, we understand that your career is more than just a job. It's a journey of growth, evolution, and opportunity. Whether you're an executive leader seeking a new challenge, a mid-career professional looking to
                            transition, or a recent graduate embarking on your career path, we're here to guide you every step of the way.
                        </p>
                    </div>
                    <button mat-raised-button class="hover-button">Get Started</button>
                </div>
                <div fxLayoutAlign="center center">
                    <div class="container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NX5sH89Q2ew?si=Hvgk0YqluhH4hAZd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
        </div>

        <div class="container-fluid ourstory_section text-center bg-light">
            <p class="our_story text-primary">Our Story</p>
            <p class="our_story_titile">Join Us on the Journey</p>


            <div class="container">
                <div class="col-sm-12 row" fxLayoutAlign="space-between center">
                    <div class="col-sm bg-white card_1" fxLayoutAlign="center center">
                        <!-- <div> -->
                        <div class="image">
                            <img src=" ../../assets/career_redefine_ourstory_1.png " class="img-fluid " alt=" ">
                        </div>

                        <div>
                            <p class="title_heading ">Our story started with a realization</p>
                        </div>

                        <div>
                            <p class="title_description ">Career Redefine journey began with a simple idea: to bridge the gap between what traditional education offers and what the modern job market demands. Founded by a team of seasoned professionals with a shared vision, we set
                                out to create a platform where learning, growth, and career advancement come together seamlessly.</p>
                        </div>

                        <!-- </div> -->
                    </div>
                    <div class="col-sm bg-white card_1" fxLayoutAlign="center center">
                        <!-- <div> -->
                        <div class="image">
                            <img src="../../assets/career_redefine_ourstory_2.png " class="img-fluid " alt=" ">
                        </div>

                        <div>
                            <p class="title_heading ">Evolving with the Industry</p>
                        </div>
                        <div>
                            <p class="title_description ">We invite you to join us on this journey of career evolution in the digital era. As we continue to pioneer innovative solutions, expand our services, and adapt to new challenges, our vision remains constant: to empower you
                                to evolve, excel, and achieve career success in the 21st century.
                            </p>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-sm bg-white card_1" fxLayoutAlign="center center">
                        <!-- <div> -->
                        <div class="image">
                            <img src="../../assets/career_redefine_ourstory_3.png " class="img-fluid " alt=" ">
                        </div>

                        <div>
                            <p class="title_heading ">Join Us on the Journey</p>
                        </div>
                        <div>
                            <p class="title_description ">Over the years, Career Redefine has grown into a trusted partner for professionals and students alike. As the industry evolved, so did we—expanding our offerings to include cutting-edge courses in emerging technologies, comprehensive
                                career enhancement programs, and specialized executive search services. Our commitment to staying ahead of the curve has enabled us to consistently deliver value and innovation to our clients.
                            </p>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>


        </div>

        <!-- <div class="row ">
            <div class="col-md-6 ">
                <button mat-raised-button color="accent " class="w-100 hover-text ">Material Button</button>
            </div>
            <div class="col-md-6 ">
                <button class="btn btn-primary w-100 hover-text ">Bootstrap
                    Button</button>
            </div>
        </div> -->

        <!-- Bootstrap Row with Material Card and Bootstrap Card -->
        <!-- <footer></footer> -->
    </div>
</div>